button {
    background-color: whiteSmoke;
    background-image: linear-gradient(top, whiteSmoke, #f1f1f1);
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    margin: 4px;
    padding: 0 18px 0 18px;
    color: #444;
    font-weight: bold;
    font-size: 11px;
    outline: none;
    text-align: center;
    height: 30px;
}

button:hover {
    color: #333;
    border-color: #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}
