* {
    font-family: "Helvetica Neue", Helvetica, Arian, sans serif;
    font-size: 16px;

    -webkit-user-select: text;
}

body {
    margin: 0;
    padding: 0;
    background-color: #dfe3eb;
}

.label {
    padding: 2px;
    background-color: red;
    border-radius: 10px;
}

.clearfix {
    clear: both;
}

#chat-panel {
    position: fixed;
    top: 0;
    left: 225px;
    right: 0;
    bottom: 0;
}

#channel-list {
    width: 225px;
    border-right: 1px solid #b4b4b4;
    background-color: #f2f2f2;
    height: 100%;
    box-shadow: 1px 0px 10px #cccfd6;
}

.channel-list-item {
    padding: 5px;
    background-color: #f2f2f2;
    border: 0px;
    border-top: 1px solid #fcfcfc;
    border-bottom: 1px solid #dcd7d4;
}

.selected .channel-list-item {
    border: 0px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #a3a6bc;
    background: -webkit-gradient(linear, center top, center bottom, from(#c8d0de), to(#b2bccc));
}

.channel-list-name {
    float: left;
}

.channel-list-item .unread {
    font-weight: bold;
}

.channel-list-unread {
    float: right;
}

.chat-room {
    width: 100%;
    height: 100%;
    position: relative;
}

hr {
    height: 0px;
    border-top: 1px solid #b9becb;
    border-bottom: 1px solid #f0f2f6;
    margin: 0px;
}

.chat-msg {
    color: #222;
    padding: 2px;
    padding-left: 10px;
    padding-right: 5px;
}

.chat-msg .timestamp {
    display: inline;
    padding: 5px;
    font-weight: 400;
    font-size: 0.75em;
}

.chat-msg .nick {
    display: inline;
    font-weight: bold;
    padding: 2px;
}

.chat-msg .msg {
    display: inline;
}

#message-form {
    padding: 4px;
}

.message-form {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#room-name {
    font-size: 1.2em;
    padding-left: 20px;
}

#chat-messages {
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    width: 100%;
    bottom: 50px;
    top: 38px;
}

input {
    border: 1px solid #b2b5bd;
    border-radius: 2px;
    height: 24px;
    padding: 2px;
}

#message-form input {
    border: 1px solid #b2b5bd;
    border-radius: 12px;
    height: 24px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #fbfbfb;
    box-shadow: inset 2px 2px 6px 1px #ddd;
    border-bottom: 1px solid #dfdfdf;
    width: 100%;
}

/** servers stuff */
#servers {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #f2f2f2;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    padding: 5px;
    margin: auto auto;
}

#servers .server {
}

